.m_txt_area {
    width: 100%;
    height: 40px;
    margin: 0.1vh 0;
    padding: 3px 0;
    font-size: 17px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    border-width: 0.05px;
    resize: vertical;
}

.m_txt_area:focus{
    outline: none;
    resize: vertical;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_btn{
    width: 20%;
    align-self: flex-end;
}
