{% extends 'hood/base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'hood/styles/auth_navbar_styles.css' %}">
<link rel="stylesheet" href="{% static 'hood/styles/create_profile_styles.css' %}">
{% endblock %}

{% block navbar %}
{% include 'hood/includes/auth_navbar.html' %}
{% endblock %}

{% block content %}

    <div class="form_card">
        <div class="informative_card">
            <p>Profile information</p>
        </div>
        <form method="POST" action="{% url 'create_profile_page' %}">
            {% csrf_token %}
            {% if profile.neighborhood_name != 'empty' %}
                <input type="text" placeholder="Neighborhood name" value="{{profile.neighborhood_name}}" name="neighborhood_name_field" required>
            {% else %}
                <input type="text" placeholder="Neighborhood name" name="neighborhood_name_field" required>
            {% endif %}

            {% if profile.phone != 'empty' %}
                <input type="tel" placeholder="Phone" value="{{profile.phone}}" name="phone_field" required>
            {% else %}
                <input type="tel" placeholder="Phone" name="phone_field" required>
            {% endif %}

            {% if profile.gen_location != 'empty' %}
                <input type="text" placeholder="General location" value="{{profile.gen_location}}" name="gen_loc_field" required>
            {% else %}
                <input type="text" placeholder="General location" name="gen_loc_field" required>
            {% endif %}

            {% if profile.bio != '' %}
                <textarea name="bio_field" placeholder="Bio" maxlength="250">{{profile.gen_location}}</textarea>
            {% else %}
                <textarea name="bio_field" placeholder="Bio" maxlength="250"></textarea>
            {% endif %}
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}