{% extends 'hood/base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'hood/styles/index_styles.css' %}">
    <link rel="stylesheet" href="{% static 'hood/styles/main_navbar_styles.css' %}">
    <link rel="stylesheet" href="{% static 'hood/styles/post_item_styles.css' %}">
    <link rel="stylesheet" href="{% static 'hood/styles/modal_styles.css' %}">
    <script src="{% static 'hood/scripts/index_scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'hood/styles/new_post_form_styles.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'hood/includes/main_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="home_container">
        <div class="posts_container">
            {% if user_member.status != 1 %}
                <div class="informative_card">
                    <p id="informative_txt">Your request to be an active member of the neighborhood grp is being reviewed</p>
                </div>
            {% else %}
                <div class="post_form_container">
                    {% include 'hood/includes/new_post_form.html' %}
                </div>
            {% endif %}
            {% for post in posts %}
                {% include 'hood/includes/post_item.html' with post_item=post %}
            {% endfor %}
        </div>
        <div class="activity_ocontainer">
            <div class="title_container">

<!--                <p id="msg_from_admin">from Admin</p>-->
            </div>
            <div class="activity_content">
<!--                <p id="msg_txt">Hi, hope y'all are good. As the admin of the Bed Stuy locals, I'd like to welcome everyone to the group. It is my hope that we're gonna have fruitful discussions in this group that will help us, as the residents of Bedford-Stuyvesant, live harmoniously.</p>-->
<!--                <p id="msg_timestamp">17 Apr, 2022 11:50am</p>-->
            </div>
        </div>
    </div>
    <div class="modal">
        {% include 'hood/includes/abt_modal.html' %}
    </div>

{% endblock %}