{% extends 'hood/base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'hood/styles/auth_navbar_styles.css' %}">
    <link rel="stylesheet" href="{% static 'hood/styles/item_neighborhood_styles.css' %}">
    <link rel="stylesheet" href="{% static 'hood/styles/grid_item_neighborhood_styles.css' %}">
    <link rel="stylesheet" href="{% static 'hood/styles/neighborhoods_styles.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'hood/includes/auth_navbar.html' %}
{% endblock %}

{% block content %}

<!--    <div class="neighborhoods_container">-->
<!--        {% for item in my_range %}-->
<!--            {% include 'hood/includes/layout_list_item_neighborhood.html' %}-->
<!--        {% endfor %}-->
<!--    </div>-->
    <div class="index_container">
        <div class="informative_card">
            <p id="informative_txt">Join a group, for the neighborhood that you reside</p>
        </div>
        <div class="results">
            {% for item in neighborhoods %}
                {% include 'hood/includes/layout_grid_item_neighborhood.html' with item=item %}
            {% endfor %}
        </div>
    </div>


{% endblock %}